<div class="section header">
  <div class="section-inner">
    <a [routerLink]="'/'" class="portrait">
      <img src="../assets/placeholder.jpg" srcLazy="../assets/kim-turley.jpg" alt="Kim Turley" appLazyLoadImage />
      <span class="logo">Kim Turley</span>
    </a>
    <div class="intro">
      <h1>Digital Strategist, Creative Thinker &amp; Technologist</h1>
      <p>{{ careerLength }} years experience creating cutting-edge digital experiences in partnership with top brands.</p>
    </div>
  </div>
</div>