<div class="section footer">
  <div class="section-inner">
    <p>Get in touch:</p>
    <ul>
      <li>
        <a href="mailto:hello@kimturley.co.uk" target="_blank" rel="noopener">
          <img src="../../assets/icons/email.svg" alt="Email" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/kmturley/" target="_blank" rel="noopener">
          <img src="../../assets/icons/linkedin.svg" alt="LinkedIn" />
        </a>
      </li>
      <li>
        <a href="https://medium.com/creative-technology-concepts-code" target="_blank" rel="noopener">
          <img src="../../assets/icons/medium.svg" alt="Medium" />
        </a>
      </li>
      <li>
        <a href="https://github.com/kmturley" target="_blank" rel="noopener">
          <img src="../../assets/icons/github.svg" alt="Github" />
        </a>
      </li>
      <li>
        <a href="https://stackoverflow.com/story/kmturley" target="_blank" rel="noopener">
          <img src="../../assets/icons/stack-overflow.svg" alt="Stack Overflow" />
        </a>
      </li>
    </ul>
  </div>
</div>
