@import '../colors';

.header {
  background: $blue-bayoux;
  background: -moz-linear-gradient(-45deg, $blue-bayoux 0%, $mulled-wine 100%);
  background: -webkit-linear-gradient(-45deg, $blue-bayoux 0%,$mulled-wine 100%);
  background: linear-gradient(135deg, $blue-bayoux 0%,$mulled-wine 100%);
  color: $white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-bayoux', endColorstr='$mulled-wine', GradientType=1);

  .logo {
    background-color: $pavlova;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 1.5em 0;
    padding: .2rem .4rem;
    text-transform: uppercase;
  }
}

.services {

  .service {
    align-items: center;
    border-bottom: .15rem solid $pavlova;
    display: flex;
    padding-top: .8rem;

    img {
      align-self: flex-start;
      margin: 0 1.5rem .5rem 0;
    }
    p {
      margin: 0 0 .5rem 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.projects {
  background-color: $mine-shaft;

  h3 {
    color: $white;
  }

  img {
    height: 15rem;
    margin-right: 1rem;
    transition: transform .1s ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.thoughts {
  background-color: $gallery;
  .post {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .15);
    color: $mine-shaft;
    display: inline-block;
    line-height: 1.5em;
    margin: 0 1rem 1rem 0;
    max-width: 15rem;
    padding: 1rem;
    text-decoration: none;
    transition: transform .1s ease-out;
    vertical-align: top;
    white-space: normal;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}

.partners {
  background-color: $mine-shaft;

  h3 {
    color: $white;
  }

  img {
    margin-right: 3rem;
    height: 4rem;
    max-width: 6rem;
  }
}

.footer {
  background-color: $river-bed;
  color: $white;
  a {
    color: $white;
    font-size: 20px;
    text-decoration: none;
  }
}
