<div class="section header">
  <div class="section-inner">
    <div class="logo">Kim Turley</div>
    <h1>Digital Strategist, Creative Thinker &amp; Technologist</h1>
    <p>Delivering cutting-edge digital experiences in partnership with top brands since 2006.</p>
  </div>
</div>
<div class="section services">
  <div class="section-inner">
    <h3 class="underline">Services</h3>
    <div class="service">
      <img src="../assets/lightbulb.svg" alt="Lightbulb" />
      <p>Uncovering unmet market needs and inventing products &amp; services with impact.</p>
    </div>
    <div class="service">
      <img src="../assets/route.svg" alt="Route" />
      <p>Transforming teams &amp; processes to cope with our ever-changing world.</p>
    </div>
    <div class="service">
      <img src="../assets/products.svg" alt="products" />
      <p>Designing and building secure, scalable digital products &amp; services quickly.</p>
    </div>
  </div>
</div>
<div class="section projects">
  <div class="section-inner">
    <h3 class="underline">Projects</h3>
  </div>
  <drag-scroll class="carousel">
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/luke.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/chubaka.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/boba.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/c3po.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/leia.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/obi.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/r2d2.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/storm.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/varder.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/yoda.png" /></a>
    <a href="#"><img src="https://ngx-drag-scroll.fanjin.io/assets/img/yolo.png" /></a>
  </drag-scroll>
</div>
<div class="section thoughts">
  <div class="section-inner">
    <h3 class="underline">Thoughts</h3>
  </div>
  <drag-scroll class="carousel">
    <a href="https://www.americanexpress.com/en-us/business/trends-and-insights/articles/the-new-digital-narrative-why-content-matters-more-in-the-age-of-technology/" class="post" target="_blank">Why Content Matters More in the Age of Technology</a>
    <a href="https://medium.com/beyond/7-beach-books-for-business-leaders-beyonds-summer-reading-list-1b7648d4c7dd" class="post" target="_blank">7 beach books for business leaders</a>
    <a href="https://medium.com/beyond/setting-up-technology-innovation-teams-for-success-204a7107a9c6" class="post" target="_blank">Setting up technology innovation teams for success</a>
    <a href="https://medium.com/beyond/8-tech-trends-were-predicting-for-2018-790b4f3faa7" class="post" target="_blank">8 tech trends we’re predicting for 2018</a>
    <a href="https://medium.com/beyond/6-ways-to-stay-on-top-of-emerging-technology-trends-ca6a7b27bc20" class="post" target="_blank">6 ways to stay on top of emerging technology trends</a>
  </drag-scroll>
</div>
<div class="section partners">
  <div class="section-inner">
    <h3 class="underline">Partners</h3>
  </div>
  <drag-scroll class="carousel">
    <img src="../assets/logos/virgin.svg" alt="Virgin" />
    <img src="../assets/logos/google.svg" alt="Google" />
    <img src="../assets/logos/apple.svg" alt="Apple" />
  </drag-scroll>
</div>
<div class="section footer">
  <div class="section-inner">
    <p>Get in touch <br/><a href="mailto:hello@kimturley.co.uk">hello@kimturley.co.uk</a></p>
  </div>
</div>