@import '../../colors';

.header {
  background-position: center;
  background-size: cover;
  color: $white;
  min-height: 100vh;
  position: relative;

  .section-inner {
    bottom: 0;
    position: absolute;
  }
}
