@import '../../colors';

.image {
  img {
    max-width: 100%;
  }
}

.details {
  line-height: 1.5em;
  padding: 2rem;

  .panels {
    margin-top: 1rem;
  }
}


/* 48em = 768px */
@media (min-width: 48em) {
  .panels {
    display: flex;

    .panel {
      width: 50%;
    }
  }
}
