@import './colors';

body {
  font-family: 'Raleway', sans-serif;
  color: $mine-shaft;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 .5em 0;
  line-height: 1.2em;
}

p {
  margin: 0 0 .5em 0;
  line-height: 1.4em;
}

.underline {
  position: relative;
  text-transform: uppercase;
  &:before {
    background-color: $pavlova;
    bottom: -.6rem;
    content: '';
    height: .2rem;
    position: absolute;
    width: 3rem;
  }
}

.section {
  .section-inner {
    padding: 2rem;
    margin: auto;
    max-width: 80rem;
  }
}

.carousel {
  overflow-x: auto;
  white-space: nowrap;
  .carousel-item {
    display: inline-block;
    margin: 2rem 1rem 2rem 0;
    &:first-child {
      margin-left: 2rem;
    }
    &:last-child {
      margin-right: 2rem;
    }
  }
}

// .carousel {
//   width: 100%;
//   .drag-scroll-content {
//     a {
//       display: inline-block;
//       margin: 2rem 1rem 2rem 0;
//       &:first-child {
//         margin-left: 2rem;
//       }
//       &:last-child {
//         margin-right: 2rem;
//       }
//     }
//   }
// }

// @media (min-width: 80rem) {
//   .carousel {
//     .drag-scroll-content {
//       padding-left: calc((100% - 84rem) / 2);
//     }
//   }
// }
