<app-header image="true" title="Digital Strategist, Creative Thinker &amp; Technologist" [subtitle]="careerLength + ' years experience creating cutting-edge digital experiences in partnership with top brands.'"></app-header>
<div class="section services">
  <div class="section-inner">
    <h3 class="underline">Skills</h3>
    <div class="service-list">
      <div class="service">
        <img src="../assets/placeholder.png" srcLazy="../assets/skills/lightbulb.svg" alt="Lightbulb" appLazyLoadImage />
        <p>Uncovering unmet market needs and inventing products &amp; services with impact.</p>
      </div>
      <div class="service">
        <img src="../assets/placeholder.png" srcLazy="../assets/skills/route.svg" alt="Route" appLazyLoadImage />
        <p>Transforming teams &amp; processes to cope with our ever-changing world.</p>
      </div>
      <div class="service">
        <img src="../assets/placeholder.png" srcLazy="../assets/skills/products.svg" alt="Products" appLazyLoadImage />
        <p>Designing and building secure, scalable digital products &amp; services quickly.</p>
      </div>
    </div>
  </div>
</div>
<div class="section projects">
  <div class="section-inner">
    <div class="section-title">
      <h3 class="underline">Projects</h3>
      <a routerLink="projects">view all ({{ projects.length }})</a>
    </div>
  </div>
  <ngu-carousel #carouselProjects [inputs]="carouselLarge" [dataSource]="projects" class="carousel" *ngIf="projects">
    <ngu-tile *nguCarouselDef="let project; let i = index">
      <a [routerLink]="slugifyPipe.transform(project.client) + '-' + slugifyPipe.transform(project.name)" class="carousel-item project" [title]="project.description" draggable="false">
        <span><strong class="project-name">{{ project.name }}</strong><br/>{{ project.client }}</span>
        <img src="../assets/placeholder.png" [srcLazy]="project.images" [alt]="project.name" appLazyLoadImage draggable="false" />
      </a>
    </ngu-tile>
    <button NguCarouselPrev class="carousel-prev" [style.opacity]="carouselProjects.isFirst ? 0:1"><img src="../assets/arrow-right.svg" alt="Previous" /></button>
    <button NguCarouselNext class="carousel-next" [style.opacity]="carouselProjects.isLast ? 0:1"><img src="../assets/arrow-right.svg" alt="Next" /></button>
  </ngu-carousel>
</div>
<div class="section articles">
  <div class="section-inner">
    <h3 class="underline">Articles</h3>
  </div>
  <ngu-carousel #carouselArticles [inputs]="carouselLarge" [dataSource]="articles" class="carousel" *ngIf="articles">
    <ngu-tile *nguCarouselDef="let article; let i = index">
      <a [href]="article.url" class="carousel-item article" target="_blank" rel="noopener" [title]="article.name" draggable="false">
        {{ article.name }}
        <img src="../assets/link.svg" alt="open" class="link" draggable="false" />
      </a>
    </ngu-tile>
    <button NguCarouselPrev class="carousel-prev" [style.opacity]="carouselArticles.isFirst ? 0:1"><img src="../assets/arrow-right.svg" alt="Previous" /></button>
    <button NguCarouselNext class="carousel-next" [style.opacity]="carouselArticles.isLast ? 0:1"><img src="../assets/arrow-right.svg" alt="Next" /></button>
  </ngu-carousel>
</div>
<div class="section brands">
  <div class="section-inner">
    <h3 class="underline">Clients</h3>
  </div>
  <ngu-carousel #carouselBrands [inputs]="carouselSmall" [dataSource]="brands" class="carousel" *ngIf="brands">
    <ngu-tile *nguCarouselDef="let brand; let i = index">
      <a [href]="brand.url" class="carousel-item brand" target="_blank" rel="noopener" [title]="brand.name" draggable="false">
        <img src="../assets/placeholder.png" [srcLazy]="brand.images" [alt]="brand.name" appLazyLoadImage draggable="false" />
      </a>
    </ngu-tile>
    <button NguCarouselPrev class="carousel-prev" [style.opacity]="carouselBrands.isFirst ? 0:1"><img src="../assets/arrow-right.svg" alt="Previous" /></button>
    <button NguCarouselNext class="carousel-next" [style.opacity]="carouselBrands.isLast ? 0:1"><img src="../assets/arrow-right.svg" alt="Next" /></button>
  </ngu-carousel>
</div>
<div class="section awards">
  <div class="section-inner">
    <h3 class="underline">Awards</h3>
  </div>
  <ngu-carousel #carouselAwards [inputs]="carouselSmall" [dataSource]="awards" class="carousel" *ngIf="awards">
    <ngu-tile *nguCarouselDef="let award; let i = index">
      <a [href]="award.url" class="carousel-item award" target="_blank" rel="noopener" [title]="award.description" draggable="false">
        <img src="../assets/placeholder.png" [srcLazy]="award.images" [alt]="award.name" appLazyLoadImage draggable="false" />
        <span>{{ award.year }}</span>
      </a>
    </ngu-tile>
    <button NguCarouselPrev class="carousel-prev" [style.opacity]="carouselAwards.isFirst ? 0:1"><img src="../assets/arrow-right.svg" alt="Previous" /></button>
    <button NguCarouselNext class="carousel-next" [style.opacity]="carouselAwards.isLast ? 0:1"><img src="../assets/arrow-right.svg" alt="Next" /></button>
  </ngu-carousel>
</div>
