<div class="section header">
  <div class="section-inner">
    <div class="portrait">
      <img src="../assets/placeholder.jpg" srcLazy="../assets/kim-turley.jpg" alt="Kim Turley" appLazyLoadImage />
      <span class="logo">Kim Turley</span>
    </div>
    <div class="intro">
      <h1>Digital Strategist, Creative Thinker &amp; Technologist</h1>
      <p>14 years experience creating cutting-edge digital experiences in partnership with top brands.</p>
    </div>
  </div>
</div>
<div class="section services">
  <div class="section-inner">
    <h3 class="underline">Skills</h3>
    <div class="service-list">
      <div class="service">
        <img src="../assets/skills/placeholder.jpg" srcLazy="../assets/skills/lightbulb.svg" alt="Lightbulb" appLazyLoadImage />
        <p>Uncovering unmet market needs and inventing products &amp; services with impact.</p>
      </div>
      <div class="service">
        <img src="../assets/skills/placeholder.jpg" srcLazy="../assets/skills/route.svg" alt="Route" appLazyLoadImage />
        <p>Transforming teams &amp; processes to cope with our ever-changing world.</p>
      </div>
      <div class="service">
        <img src="../assets/skills/placeholder.jpg" srcLazy="../assets/skills/products.svg" alt="Products" appLazyLoadImage />
        <p>Designing and building secure, scalable digital products &amp; services quickly.</p>
      </div>
    </div>
  </div>
</div>
<div class="section projects">
  <div class="section-inner">
    <h3 class="underline">Projects</h3>
  </div>
  <div class="carousel">
    <a [routerLink]="project.name | slugify" class="carousel-item project" *ngFor="let project of projects" [title]="project.description">
      <span><strong class="project-name">{{ project.name }}</strong><br/>{{ project.client }}</span>
      <img src="../assets/projects/placeholder.jpg" [srcLazy]="project.images[0]" [alt]="project.name" appLazyLoadImage />
    </a>
  </div>
  <!-- <drag-scroll class="carousel" drag-scroll-y-disabled="true" scrollbar-hidden="true">
    <a [routerLink]="['./']" drag-scroll-item *ngFor="let project of projects" class="project">
      <span><strong class="project-name">{{ project.name }}</strong><br/>{{ project.client }}</span>
      <img [src]="project.images[0]" alt="{{ project.name }}" />
    </a>
  </drag-scroll> -->
</div>
<div class="section articles">
  <div class="section-inner">
    <h3 class="underline">Articles</h3>
  </div>
  <div class="carousel">
    <a *ngFor="let article of articles" class="carousel-item article" [href]="article.url" target="_blank" rel="noopener" [title]="article.name">
      {{ article.name }}
      <img src="../assets/link.svg" alt="open" class="link" />
    </a>
  </div>
  <!-- <drag-scroll class="carousel" drag-scroll-y-disabled="true" scrollbar-hidden="true">
    <a *ngFor="let article of articles" drag-scroll-item [href]="article.url" class="article" target="_blank" rel="noopener">
      {{ article.name }}
      <img src="../assets/link.svg" alt="open" class="link" />
    </a>
  </drag-scroll> -->
</div>
<div class="section brands">
  <div class="section-inner">
    <h3 class="underline">Partners</h3>
  </div>
  <div class="carousel">
    <a [href]="brand.url" class="carousel-item brand" *ngFor="let brand of brands" target="_blank" rel="noopener" [title]="brand.name">
      <img src="../assets/brands/placeholder.jpg" [srcLazy]="brand.images[0]" [alt]="brand.name" appLazyLoadImage />
    </a>
  </div>
  <!-- <drag-scroll class="carousel" drag-scroll-y-disabled="true" scrollbar-hidden="true">
    <a href="#" drag-scroll-item *ngFor="let brand of brands">
      <img class="brand" [src]="brand.images[0]" alt="{{ brand.name }}" />
    </a>
  </drag-scroll> -->
</div>
<div class="section awards">
  <div class="section-inner">
    <h3 class="underline">Awards</h3>
  </div>
  <div class="carousel">
    <a [href]="award.url" class="carousel-item award" *ngFor="let award of awards" target="_blank" rel="noopener" [title]="award.description">
      <img src="../assets/awards/placeholder.jpg" [srcLazy]="award.images[0]" [alt]="award.name" appLazyLoadImage />
      <span>{{ award.year }}</span>
    </a>
  </div>
  <!-- <drag-scroll class="carousel" drag-scroll-y-disabled="true" scrollbar-hidden="true">
    <a href="#" drag-scroll-item *ngFor="let award of awards">
      <img class="award" [src]="award.images[0]" alt="{{ award.name }}" />
    </a>
  </drag-scroll> -->
</div>
<div class="section footer">
  <div class="section-inner">
    <p>Get in touch <br/><a href="mailto:hello@kimturley.co.uk">hello@kimturley.co.uk</a></p>
  </div>
</div>